top banner/section
<section>
  {{ header }}
  {{ text }}
  {{ color banner }} - copy from image banner
  <div>
  //width: 90%
  //max-width: 1200px
  //padding-top 90px - depends on screen size
  dont close div or section here

    <div>individual elements eg. text + slider, 3 block etc ect
      //padding-left/right 90px - depends on screen size
      {{ padding_top }}
      {{ padding_bottom }}
      could do the *0.75 on mobile that rich-text does
      other stuff is element dependant
    </div>

  bottom section
  logo
  {{ header }}
  {{ header_style }}
  {{ text }}
  </div> close the div that was opened in the top banner/section
</section> close the section that was opened at the top
